.contenedor_form{
    width:50%;
    margin:auto;
    margin-top:150px;
}

.contenedor_form div{
    margin: 10px;
}

.contenedor_form i{
    width:30px;
    height:20px;
}

.boton{
    width:80%;
    margin-left:110px;
}

